<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body style="background-color:LightGray;">

<div style="text-align:center">
    <h1>Unlockably</h1>
</div>
</br>
</br>
<div class="container" style="text-align:center">
  <b>(1)</b>
  <p>{{ hint1 }}</p>
  <b>(2)</b>
  <p>{{ hint2 }}</p>
  <b>(3)</b>
  <p>{{ hint3 }}</p>
  <b>(4)</b>
  <p>{{ hint4 }}</p>
  </br>

  <form autocomplete="off" class="form-inline" method="POST" action = "{{ url_for('solution_page') }}">
        <input autocomplete="false" name="hidden" type="text" style="display:none;">
        <input type="text" id="answer1" name="answer1" class="form-control" size="1">
        <input type="text" id="answer2" name="answer2" class="form-control" size="1">
        <input type="text" id="answer3" name="answer3" class="form-control" size="1">
        <input type="text" id="answer4" name="answer4" class="form-control" size="1">
    </br>
    </br>
    <input class='btn btn-primary' type='submit' value='Submit'/>
  </form>
</div>

</body>
</html>