<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body style="background-color:LightGray;">

<div style="text-align:center">
<h1>Unlockably</h1>
<h2>The daily trivia game</h2>
</br>
<p>You're locked out of your phone and can't remember the pin.</p>
<p>Answer the questions to guess the 4 digit combination and win today's challenge</p>
</br>
<a class='btn btn-primary' href="{{ url_for('game_page') }}">Play</a>
</div>

<div style="position: absolute; bottom: 2px;">
Version 1.0.0
</div>

</body>
</html>